@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-gray-950: #0a0a0a;
}

@variant dark (.dark &);
